{% extends 'smarty/panel/_base_panel.html' %}
{% load i18n bootstrap3 %}

{% block nav_panel %}
    {% include 'smarty/panel/nav_panel_partner.html' %}
{% endblock %}


{% block breadcrumb %}
    <li><a class="active" href="#">{{ action }}</a></li>
{% endblock %}

{% block panel_right %}
    <section class="nopadding-top" id="middle">
        <div id="content" class="dashboard">
            <div class="row">
                <!-- CUSTOMER PAYMENT(BANK TRANSFER) REQUEST -->
                <div class="col-md-12">
                    <div id="panel-misc-portlet-l1" class="panel panel-default">
                        <div class="panel-heading">
                            <span class="elipsis">
                                <strong>{{ action }}</strong>
                            </span>
                            <ul class="options pull-right list-inline">
                                <li><a href="javascript:window.history.back()" class="btn btn-danger btn-xs white"><i class="fa fa-arrow-circle-o-left"> {% trans 'Back' %}</i></a></li>
                                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                            </ul>
                        </div>
                        <!-- panel content -->
                        <div class="panel-body">
                            <form method="post">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
                            </form>
                        </div>
                        <!-- /panel content -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}