<!-- JAVASCRIPT FILES -->
{% load dajaxice_templatetags %}
<script type="text/javascript">var plugin_path = '{{ STATIC_URL }}smarty/plugins/';</script>
{#<script src="http://code.jquery.com/jquery-1.9.1.js"></script>#}
{#<script src="http://code.jquery.com/jquery-migrate-1.1.1.js"></script>#}
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}smarty/js/scripts.js"></script>


<!-- REVOLUTION SLIDER -->
<script type="text/javascript" src="{{ STATIC_URL }}smarty/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}smarty/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}smarty/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}smarty/plugins/datatables/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}smarty/plugins/select2/js/select2.full.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}smarty/plugins/bootstrap.datepicker/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}smarty/js/view/demo.revolution_slider.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ajaxupload-v1.2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}dajax/jquery.dajax.core.js" charset="UTF-8"></script>
{% dajaxice_js_import %}
