{% load i18n %}
<div id="topBar">
    <div class="container">
        <!-- right -->
        <ul class="top-links list-inline pull-right">
            <li class="text-welcome hidden-xs">{% trans 'Welcome to' %} {{ website.config.title }}, <strong>{{ user }}</strong></li>
            <li>
            {% if user.is_authenticated %}
                <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#">
                    <i class="fa fa-user hidden-xs"></i> {% trans 'MY ACCOUNT' %}
                </a>
                <ul class="dropdown-menu pull-right">
                    <li><a tabindex="-1" href="{% url 'manager:index' %}"><i class="fa fa-lock"></i> {% trans 'Admin'|upper %}</a></li>
                    <li><a tabindex="-1" href="{% url 'partner:index' %}"><i class="fa fa-users"></i> {% trans 'Partner'|upper %}</a></li>
                    <li><a tabindex="-1" href="{% url 'survey:dashboard' %}"><i class="fa fa-dashboard"></i> {% trans 'Dashboard'|upper %}</a></li>
                    <li><a tabindex="-1" href="{% url 'website:help' %}"><i class="fa fa-question-circle"></i> {% trans 'Help Desk'|upper %}</a></li>
                    <!--li class="divider"></li>
                    <li><a tabindex="-1" href="#"><i class="fa fa-bookmark"></i> MY WISHLIST</a></li>
                    <li><a tabindex="-1" href="#"><i class="fa fa-edit"></i> MY REVIEWS</a></li>
                    <li><a tabindex="-1" href="#"><i class="fa fa-cog"></i></a></li-->
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="{% url 'logout' %}"><i class="glyphicon glyphicon-off"></i> {% trans 'Log out'|upper %}</a></li>
                </ul>
            {% else %}
                <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="{% url 'login' %}">
                    <i class="fa fa-user hidden-xs"></i> {% trans 'Login' %}
                </a>
                <ul class="dropdown-menu pull-right">
                    <li><a tabindex="-1" href="{% url 'manager:index' %}"><i class="fa fa-lock"></i> {% trans 'Admin'|upper %}</a></li>
                    <li><a tabindex="-1" href="{% url 'partner:index' %}"><i class="fa fa-users"></i> {% trans 'Partner'|upper %}</a></li>
                    <li><a tabindex="-1" href="{% url 'survey:dashboard' %}"><i class="fa fa-dashboard"></i> {% trans 'Dashboard'|upper %}</a></li>
                    <li><a tabindex="-1" href="{% url 'website:help' %}"><i class="fa fa-question-circle"></i> {% trans 'Help Desk'|upper %}</a></li>
                </ul>
            {% endif %}
            </li>
        </ul>
        <!-- left -->
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <ul class="top-links list-inline">
            <li class="hidden-xs"><a href="#">CONTACT</a></li>
            <li>
                {% get_current_language as LANGUAGE_CODE %}
                {% get_language_info for LANGUAGE_CODE as lang %}
                <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#">
                    <img class="flag-lang" src="{{ STATIC_URL }}smarty/images/flags-lang/{{ lang.code }}.png" width="16" height="11" alt="lang"/> {{ lang.name_local }}
                </a>
                <ul class="dropdown-langs dropdown-menu">
                    {% for lang in languages %}
                    <li>
                        <a tabindex="-1" href="{% url 'website:setlang' lang.code %}">
                            <img class="flag-lang" src="{{ STATIC_URL }}smarty/images/flags-lang/{{ lang.code }}.png" width="16" height="11" alt="lang"/> {{ lang.name_local }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</div>