{% extends 'smarty/panel/_base_panel.html' %}
{% load humanize %}
{% load i18n %}
{% load bootstrap3 %}
{% block breadcrumb %}
    <li><a class="active" href="{% url 'mail-list:passwords' %}">{% trans 'Mail List' %}</a></li>
    <li><a class="active" href="#">{{ active_menu }}</a></li>
{% endblock %}
{% block panel_stylesheets %}
    <!-- CSS DATATABLE -->
    <link href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css"/>
{#    <link href="{{ STATIC_URL }}smarty/css/layout-datatables.css" rel="stylesheet" type="text/css"/>#}

{% endblock %}

{% block panel_right %}
    <section class="nopadding-top" id="middle">
        <div id="content" class="dashboard">
            <div id="panel-2" class="panel panel-primary">
                <div class="panel-heading">
                    <!-- panel title -->
                    <span class="title elipsis">
                        <strong>{{ survey }}</strong>
                    </span>
                </div>
                <!-- panel content -->
                <div class="panel-body">
                    <div class="row countTo-md text-center">
                        {% with survey.get_totals as total %}
                            <div class="col-xs-6 col-sm-4">
                                <i class="fa fa-key"></i>
                                <span class="countTo" data-speed="1000">{{ survey.password_set.count }}</span>
                                <h5>{% trans 'N° of passwords' %}</h5>
                            </div>

                            <div class="col-xs-6 col-sm-4">
                                <i class="fa fa-calendar"></i>
                                <span class="countTo" data-speed="1000">{{ survey.expired_password.count }}</span>
                                <h5>{% trans 'N° of expired passwords' %}</h5>
                            </div>

                            <div class="col-xs-6 col-sm-4">
                                <i class="fa fa-unlock"></i>
                                <span class="countTo" data-speed="1000">{{ survey.unused_password.count }}</span>
                                <h5>{% trans 'N° of unused passwords' %}</h5>
                            </div>
                        {% endwith %}
                    </div>
                </div>
            </div>
        <!-- FILTRO -->
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-transparent">
                <strong>{% trans 'Passwords' %}</strong>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="datatable_password">
                    <thead>
                    <tr>
                        <th>{% trans 'Password' %}</th>
                        <th class="text-center">{% trans 'Expire date' %}</th>
                        <th class="text-center">{% trans 'Use status' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for passw in passwords %}
                        <tr>
                            <td>{{ passw.password }}</td>
                            <td class="text-center"><span class="text-info">{{ passw.expiry_date|date:"SHORT_DATE_FORMAT" }}</span></td>
                            <td class="text-center">
                                {% if passw.use_status == 1 %}
                                    <span class="text-succes">{% trans 'Used' %}</span>
                                {% else %}
                                    <span class="text-danger">{% trans 'Unused' %}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <a class="btn btn-info" href="{% url 'mail-list:passwords' %}">
            <i class="main-icon fa fa-arrow-left"></i>
            <span>{% trans 'Return to Protect your Surveys' %}</span>
        </a>
        </div>
    </section>
{% endblock %}
{% block extra_javascript %}
    {% include '_js-import.html' %}
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="//cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#datatable_password').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        } );
        $('#datatable_password_filter').remove()
    } );

    </script>
{% endblock %}