{% extends '_base.html' %}
{% block heading %}{% include '_banner.html' %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="content-top">
            <div class="col-md-4 grid">
                <h3><i></i> Create your survey</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="col-md-4 grid">
                <h3><i class="mid"></i>Write your question</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="col-md-4 grid">
                <h3><i class="just"></i> Preview your survey</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="content-grid">
                <h2>Quickly Create a Free Online Survey</h2>
                <p>You don't have to be a web programmer to create a free online survey using our proprietary system! Part of what makes our questionnaire software so popular is the ability to create a survey in a matter of minutes regardless of your tech background — most of our customers don't know any code.</p>
            </div>
        </div>
    </div>
{% endblock %}