{# image_thumbnail.html #}
{% load i18n %}
{% if value.url %}{% trans "Currently:" %}<br> <a target="_blank" href="{{ value.url }}"><img src="{{ value.url }}" alt="{{ value }}" height="120"/></a>
{% if not required %}
<label class="checkbox">
    <input type="checkbox" name="{{ checkbox_name }}" id="{{ checkbox_id }}">
    <i></i> {% trans "Clear" %}
</label><br><br>

{% else %}<br/>
{% endif %}
{% trans "Change:" %}
{% endif %}
<input type="{{ type }}" name="{{ name }}"{% if required %} required{% endif %}{% include "floppyforms/attrs.html" %}>